html, body {
  height: 100%;
  width: 100%;
}


.map_place {
  height: 100%;
  width: 100%;
}

li {
  list-style-type: none;
  margin-top: 10px;
}

li:hover {
  color: white;
}

.wrappers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms {
  width: 500px;
  margin: 0 auto;
}

.content {
  width: 500px;
  margin: 0 auto;
}

.buttons {
  margin-right: 10px;
}
